/*This is the styling page for Iriomote Story*/
.links {
    display:flex;
    flex-direction:column;
    margin-left:40vw;
}

#titleimg {
/*align this to the center*/
margin:auto;
display:block;
}

#play {
    position:relative;
    left:20px;
}

#controls {
    position:relative;
    left:40px;
}

#credits {
    position:relative;
    left:60px;
}

#info {
    position:relative;
    left: 80px;
}

.textpage {
    display:flex;
    margin-left:50vw;
}